pkgbase = loki-network
	pkgdesc = an anonymous, decentralized and IP based overlay network for the internet.
	pkgver = 0.7.0rc3
	pkgrel = 1
	url = https://github.com/loki-project/loki-network
	install = loki-network.install
	arch = x86_64
	license = custom
	makedepends = cmake
	depends = resolvconf
	depends = curl
	depends = libuv
	depends = libsodium>=1.0.18
	provides = loki-network
	source = https://i2p.rocks/files/lokinet/archives/0.7.0-rc3/lokinet-v0.7.0-rc3.tar.xz
	source = https://i2p.rocks/files/lokinet/archives/0.7.0-rc3/lokinet-v0.7.0-rc3.tar.xz.sig
	source = lokinet.service
	source = lokinet.conf
	validpgpkeys = 67EF6BA68E7B0B0D6EB4F7D4F357B3B42F6F9B05
	sha256sums = ad46e8d47d2295e33e4cd90557ad2e8fc9a5275c5e0e5193ec5f8298b768c5e2
	sha256sums = SKIP
	sha256sums = 9e6c324538c1e8a72713a9d352f7a00c7f4091f4c82277f6ea8a6a900c65962a
	sha256sums = 49d6be3cbc32bf2414eefa86dbcead1d692e4ed8c4f66a09d740bb750c204354

pkgname = loki-network

