[Unit]
Description=LokiNET: Anonymous Network layer thingydoo.
Wants=network-online.target
After=network-online.target

[Service]
User=_lokinet
Type=notify
StateDirectory=lokinet
WatchdogSec=30s
SyslogIdentifier=lokinet
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ExecStartPre=/bin/bash -c "/usr/bin/lokinet-bootstrap && /usr/bin/lokinet -g"
ExecStart=/usr/bin/lokinet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
